:root {
	--main-title-color: #ffffff;
	--secondary-title-color: #303030;
	--accent-color: #ff6c00;
	--secondary-font: "Raleway", sans-serif;
	--basic-margin: 20px;
}

body {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Raleway', sans-serif; */
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	display: block;
	font-family: inherit;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	cursor: pointer;
	min-width: 160px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	padding: 12px 20px;
}

.title {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}

.subtitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* -------- Header style start ------- */
.header {
	background-color: grey;
	padding: 32px 0;
}

.header-container {
	display: flex;
	align-items: center;
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 131px;
}
.header-list {
	display: flex;
	gap: 30px;
}
.header-item {
}
.header-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: #ffffff;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}

.header-tel {
	margin-left: auto;
	margin-right: 43px;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}
.header-btn {
	min-width: 160px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	padding: 12px 20px;
}
/* ------ Header style end ------ */

/* ------- Hero section style start ------- */
.hero {
}

.hero-container {
	display: flex;
}
.hero-list {
	max-width: 100px;
}

.hero-content {
	background-color: grey;
	padding: 272px 100px 208px;
	flex-grow: 1;
}
.hero-item {
}
.hero-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.33;
	letter-spacing: 0.2em;
	color: #303030;
}

.hero-link:hover,
.hero-link:focus {
	color: var(--accent-color);
}

.hero-subtitle {
	margin-bottom: var(--basic-margin);
	color: rgba(157, 164, 189, 0.6);
}
.hero-title {
	margin-bottom: var(--basic-margin);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: var(--main-title-color);
}
.hero-desc {
	font-size: 18px;
	line-height: 1.66;
	letter-spacing: 0.02em;
	color: #9da4bd;
	max-width: 360px;
}
/* ----------- Hero section style end  --------- */

/* ----------- About section style start  --------- */
.about {
	padding: 120px 0;
}
.about-container {
	display: flex;
}
.about-content {
	width: 50%;
	max-width: 470px;
}
.about-list {
	display: flex;
	gap: 30px;
	margin-right: 30px;
	width: 50%;
}
.list {
}
.about-item {
	width: calc((100% - 30px) / 2);
}

.about-subtitle {
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}
.about-title {
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}

.about-desc span {
	display: block;
	font-size: 18px;
	line-height: 1.67;
	margin-bottom: var(--basic-margin);
}

.about-desc {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: #555555;
	margin-bottom: 42px;
}

.about-btn {
	color: #303030;
}
/* ----------- About section style end  --------- */

/* ----------- Services section style start  --------- */
.services {
	padding: 120px 0;
	background-color: gray;
}

.services-content {
	display: flex;
	gap: 30px;
	margin-bottom: 44px;
}
.services-subtitle {
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--basic-margin);
}
.services-title {
	color: var(--main-title-color);
	margin-bottom: 44px;
}

.services-list {
	border: 1px solid red;
	padding: 30px 20px;
	flex-grow: 1;
}

.services-item {
	display: flex;
	justify-content: space-between;
}

.services-item:not(:last-child) {
	margin-bottom: var(--basic-margin);
}

.services-item-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.services-btn {
	margin: 0 auto;
	color: #ffffff;
}
/* ----------- Services section style end  --------- */

/* ----------- Benefits section style start  --------- */
.benefits {
}
.benefits-list {
}

.benefits-item span {
	font-weight: 700;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303030;
}
.benefits-item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.33;
	text-align: center;
	color: #303030;
}
.benefits-subtitle {
	color: var(--secondary-title-color);
}
.benefits-title {
	font-family: var(--secondary-font);
	color: var(--secondary-title-color);
}
.benefits-desc {
	font-size: 18px;
	line-height: 1.66;
	letter-spacing: 0.02em;
	color: #555555;
}
/* ----------- Benefits section style end  --------- */

/* ----------- Barbers section style start  --------- */
.barbers {
}
.barbers-subtitle {
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}
.barbers-title {
	color: var(--secondary-title-color);
	margin-bottom: 44px;
}

.barbers-list {
	display: flex;
	gap: 30px;
}

.barbers-item {
	width: calc((100% - 60px) / 3);
}
.barbers-item-title {
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--secondary-title-color);
}

.barbers-content {
	padding: 30px;
}
.barbers-item-desc {
	font-size: 14px;
	line-height: 1.35;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
/* ----------- Barbers section style end  --------- */

/* ----------- Gallery section style end  --------- */
.gallery {
	padding: 120px 0;
}

.gallery-title {
}

.gallery-subtitle {
	color: var(--secondary-title-color);
	margin-bottom: 44px;
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.gallery-item {
	width: calc((100% - 90px) / 4);
}

/* ----------- Gallery section style end  --------- */

/* ----------- Contact section style end  --------- */
.contanct {
}
.contact-title {
	color: var(--main-title-color);
}
.contact-address {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.contact-list {
}
.contact-item {
}
.contact-link {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.contact-subtitle {
	color: var(--main-title-color);
}

.contact-hours {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* ----------- Contact section style end  --------- */
