:root {
	--main-title-color: #ffffff;
	--secondary-title-color: #303030;
	--accent-color: #ff6c00;
	--secondary-font: "Raleway", sans-serif;
	--basic-margin: 20px;
}

body {
	font-family: "Open Sans", sans-serif;
	/* font-family: 'Raleway', sans-serif; */
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	display: block;
	font-family: inherit;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	cursor: pointer;
	min-width: 160px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	padding: 12px 20px;
}

.title {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}

.subtitle {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
}

.subtitle::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	display: block;
	margin-right: 20px;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* -------- Header style start ------- */
.header {
	background-color: grey;
	padding: 32px 0;
}

.header-container {
	display: flex;
	align-items: center;
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 131px;
}
.header-list {
	display: flex;
	gap: 30px;
}
.header-item {
}
.header-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: #ffffff;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}

.header-tel {
	margin-left: auto;
	margin-right: 43px;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}
.header-btn {
	min-width: 160px;
	background-color: transparent;
	color: #ffffff;
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	padding: 12px 20px;
}
/* ------ Header style end ------ */

/* ------- Hero section style start ------- */
.hero {
}

.hero-container {
	display: flex;
}
.hero-list {
	max-width: 100px;
}

.hero-content {
	background-color: grey;
	background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
		url(../images/hero-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 272px 100px 208px;
	flex-grow: 1;
}
.hero-item {
}
.hero-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.33;
	letter-spacing: 0.2em;
	color: #303030;
}

.hero-link:hover,
.hero-link:focus {
	color: var(--accent-color);
}

.hero-subtitle {
	margin-bottom: var(--basic-margin);
	color: rgba(157, 164, 189, 0.6);
}

.hero-title {
	margin-bottom: var(--basic-margin);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: var(--main-title-color);
}
.hero-desc {
	font-size: 18px;
	line-height: 1.66;
	letter-spacing: 0.02em;
	color: #9da4bd;
	max-width: 360px;
}
/* ----------- Hero section style end  --------- */

/* ----------- About section style start  --------- */
.about {
	padding: 120px 0;
}
.about-container {
	display: flex;
}
.about-content {
	width: 50%;
	max-width: 470px;
}
.about-list {
	display: flex;
	gap: 30px;
	margin-right: 30px;
	width: 50%;
}
.list {
}
.about-item {
	width: calc((100% - 30px) / 2);
}

.about-subtitle {
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}
.about-title {
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}

.about-desc span {
	display: block;
	font-size: 18px;
	line-height: 1.67;
	margin-bottom: var(--basic-margin);
}

.about-desc {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: #555555;
	margin-bottom: 42px;
}

.about-btn {
	color: #303030;
}
/* ----------- About section style end  --------- */

/* ----------- Services section style start  --------- */
.services {
	padding: 120px 0;
	background-image: url(../images/services.png);
	background-color: #111319;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.services-content {
	display: flex;
	gap: 30px;
	margin-bottom: 44px;
}
.services-subtitle {
	display: flex;
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: var(--basic-margin);
}
.services-title {
	color: var(--main-title-color);
	margin-bottom: 44px;
}

.services-list {
	padding: 30px 20px;
	flex-grow: 1;
	width: calc((100% - 30px) / 2);

	background-image: linear-gradient(
		180deg,
		#090b13 0%,
		rgba(9, 11, 19, 0.2) 100%
	);
}

.services-item {
	display: flex;
	justify-content: space-between;
	gap: 12px;
	align-items: flex-end;
}

.services-item::before {
	content: "";
	display: block;
	flex-grow: 1;
	height: 1px;

	background: rgba(157, 164, 189, 0.12);
}

.services-item:not(:last-child) {
	margin-bottom: var(--basic-margin);
}

.services-item-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.services-item-text:first-child {
	order: -1;
}

.services-btn {
	margin: 0 auto;
	color: #ffffff;
}
/* ----------- Services section style end  --------- */

/* ----------- Benefits section style start  --------- */
.benefits {
	padding: 120px 0;
}

.benefits-container {
	display: flex;
}

.benefits-content {
	width: 55%;
	max-width: 500px;
}

.benefits-list {
	width: 45%;

	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	padding-left: 70px;
	padding-right: 70px;
}

.benefits-item {
	width: 170px;
	height: 132px;
	padding: 20px 24px;

	background-color: #f7f7f7;
}

.benefits-item:nth-child(even) {
	margin-top: 30px;
}

.benefits-item span {
	display: flex;
	align-items: start;
	font-weight: 700;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303030;
	background-color: F7F7F7;
}

.benefits-item span::after {
	content: "+";
	font-weight: 600;
	font-size: 16px;
	line-height: calc(22 / 16);
	color: var(--accent-color);
}

.benefits-item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.33;
	text-align: center;
	color: #303030;
}
.benefits-subtitle {
	color: var(--secondary-title-color);
}
.benefits-title {
	font-family: var(--secondary-font);
	color: var(--secondary-title-color);
}
.benefits-desc {
	font-size: 18px;
	line-height: 1.66;
	letter-spacing: 0.02em;
	color: #555555;
}
/* ----------- Benefits section style end  --------- */

/* ----------- Barbers section style start  --------- */
.barbers {
	background-color: #f7f7f7;
}
.barbers-subtitle {
	margin-bottom: var(--basic-margin);
	color: var(--secondary-title-color);
	margin-bottom: var(--basic-margin);
}
.barbers-title {
	margin-bottom: var(--basic-margin);
	color: var(--secondary-title-color);
	margin-bottom: 44px;
}

.barbers-list {
	display: flex;
	gap: 30px;
}

.barbers-item {
	width: calc((100% - 60px) / 3);
}
.barbers-item-title {
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--secondary-title-color);
}

.barbers-content {
	padding: 30px;
}
.barbers-item-desc {
	font-size: 14px;
	line-height: 1.35;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}

.barbers-social-list {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 30px;
}

.barbers-social-item {
	width: 44px;
	height: 44px;
}

.barbers-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 50%;

	color: #000;
}

.barbers-social-link:is(:hover, :focus) {
	background-color: orange;
	color: white;
}

.bargers-social-icon {
	fill: currentColor;
}
/* ----------- Barbers section style end  --------- */

/* ----------- Gallery section style end  --------- */
.gallery {
	padding: 120px 0;
}

.gallery-title {
}

.gallery-subtitle {
	color: var(--secondary-title-color);
	margin-bottom: 44px;
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.gallery-item {
	width: calc((100% - 90px) / 4);
}

/* ----------- Gallery section style end  --------- */

/* ----------- Contact section style end  --------- */
.contanct {
	padding: 130px 120px;
	background-color: #191c26;

	background-image: url(../images/bg.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: 50% 100%;
}

.contanct-container {
	display: flex;
}

.contact-form {
	width: 55%;
}

.contact-wrap {
	width: 50%;
	padding-left: 100px;
}

.contact-title {
	margin-bottom: 40px;
	color: var(--main-title-color);
}
.contact-address {
	margin-bottom: 70px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.contact-list {
}
.contact-item {
	margin-bottom: var(--basic-margin);
}
.contact-link {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.contact-subtitle {
	color: var(--main-title-color);
	margin-bottom: var(--basic-margin);
}

.contact-hours {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* ----------- Contact section style end  --------- */

/* ----------- Footer style end  --------- */
.footer {
	padding: 56px 0 56px;
	background-color: #f7f7f7;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.3;
	letter-spacing: 0.2em;
	color: #303030;

	display: flex;
	align-items: center;
	gap: 10px;
}

.footer-social-item a:is(:hover, :focus) {
	color: var(--accent-color);
}

.footer-social-item a:hover::before {
	background-color: var(--accent-color);
}

.footer-link::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #303030;
}

/* ----------- Footer section style end  --------- */
